* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;	
	padding: 0;	
}

.d-none {
	display: none;
}

.p-relative {
	position: relative;
}

.tem_Header .Header__main {
    background: #E00109;
    text-align: center;
    padding: 0.7rem 0;
}

.tem_Header .Header__main .header__logo a {
    background-image: url(http://static.larepublica.pe/assets/images/larepublica/design/sprite/sprite-global.png);
    background-position: 0px -82px;
    width: 280px;
    height: 46px;
    display: inline-block;
    text-indent: -9999px;
    float: left;
/*    position: absolute;
    top: -5px;
    left: 0rem;*/
}

.header__menu-responsive {
	background: transparent;
	color: white;
	border: 1px solid white;
}

.fa.fa-bars,
.fa.fa-eye {
	font-size: 2rem;
	padding: 0.5rem;
}

.header__menu-responsive {
	outline: antiquewhite;
	float: right;
    margin-left: 1rem;
    margin-top: 0.5rem;
}